<div image-focus focus-x="-0.31" focus-y="0.03" focus-w="1920" focus-h="1280" image="foto-login"></div>
<div id="content" class="content">
  <section class="mB230">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-lg-1-2"></div>
      <div class="pure-u-1 pure-u-lg-1-2">
        <h2 class="mainh2 tAc mT0 pT50 mB50 cW tSh">{{'loginTexts.titleRight' | translate}}</h2>
        <form novalidate name="loginUser.loginForm" data-ng-submit="loginUser.sendUser()" class="pure-form pure-form-aligned tAc">
          <div class="error-box" ng-show="loginUser.errorNoConnection">
            <p class="error-text">{{'errors.noConnectionLogin' | translate}}</p>
          </div>
          <div class="error-box" ng-show="loginUser.errorServer">
            <p class="error-text" ng-bind="loginUser.errorServerText"></p>
          </div>
          <div class="pure-u-1 fL pure-control-group">
            <div class="validateMark disInl posR">
              <input type="email" class="inputPL mT5 mB5 mW300 w100" autofocus name="email" data-ng-model="loginUser.email" placeholder="{{'loginTexts.formLogin.emailPlaceholder' | translate}}" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" />
              <div class="errorMark" ng-if="loginUser.loginForm.email.$touched && !loginUser.loginForm.email.$valid">
              </div>
              <div class="correctMark" ng-if="loginUser.loginForm.email.$touched && loginUser.loginForm.email.$valid">
              </div>
            </div>
            <div ng-messages="loginUser.loginForm.email.$error" ng-if="loginUser.loginForm.email.$touched && loginUser.loginForm.email.$invalid" ng-messages-multiple>
              <span class="pure-u-1 cW mT5 mB5 fL" ng-message="pattern || required">{{'loginTexts.formLogin.emailErrorPattern' | translate}}</span>
            </div>
          </div>
          
          <div class="pure-u-1 fL pure-control-group">
            <div class="validateMark disInl posR">
              <input type="password" data-ng-model="loginUser.password" class="inputPL mT5 mB5 mW300 w100" name="password" placeholder="{{'loginTexts.formLogin.passwordPlaceholder' | translate}}" required ng-minlength="4" />
              <div class="errorMark" ng-if="loginUser.loginForm.password.$touched && !loginUser.loginForm.password.$valid">
              </div>
              <div class="correctMark" ng-if="loginUser.loginForm.password.$touched && loginUser.loginForm.password.$valid">
              </div>
            </div>
            <div ng-messages="loginUser.loginForm.password.$error" ng-if="loginUser.loginForm.password.$touched && loginUser.loginForm.password.$invalid" ng-messages-multiple>
              <span class="pure-u-1 cW mT5 mB5 fL" ng-message="required">{{'loginTexts.formLogin.passwordErrorRequired' | translate}}</span>
            </div>
          </div>
          <div class="pure-u-1 mT30 mB30 tAc">
            <input type="submit" value="{{'loginTexts.buttonLogin' | translate}}" class="greenBtn" data-ng-disabled="!loginUser.loginForm.$valid">
          </div>
          <div class="mT10 tAc">
            <p><a class="tDu tSh cWI" ui-sref="lostPassword.lostPasswordUser">{{'loginTexts.lostPassword' | translate}}</a></p>
            <p class="tSh mT30">{{'loginTexts.notAccount' | translate}}</p>
            <p><a class="tDu tSh cWI" ui-sref="register.registerUser">{{'loginTexts.register' | translate}}</a></p>
          </div>
        </form>
      </div>
    </div>
  </section>
  <div data-ng-include="'globals/main/share/share.html'"></div>
</div>