<h2 class="mainh2 tAc mT0 pT50 mB50 cW tSh">{{'registerTexts.titleRight' | translate}}</h2>
<form name="registerUser.registerUserForm" data-ng-submit="registerUser.sendUser()" class="pure-form pure-form-aligned tAc">
	<div class="error-box mB20" ng-show="registerUser.error">
		<p class="error-text" ng-bind="registerUser.errorText"></p>
	</div>
	<div class="pure-u-1 fL pure-control-group">
		<div class="validateMark disInl posR">
			<input type="text" class="inputPL mT5 mB5 mW300 w100" name="name" placeholder="{{'registerTexts.formRegister.namePlaceholder' | translate}}" required data-ng-model="registerUser.user.name" />
			<div class="errorMark" ng-if="registerUser.registerUserForm.name.$touched && !registerUser.registerUserForm.name.$valid">
			</div>
			<div class="correctMark" ng-if="registerUser.registerUserForm.name.$touched && registerUser.registerUserForm.name.$valid">
			</div>
		</div>
		
		<div ng-messages="registerUser.registerUserForm.name.$error" ng-if="registerUser.registerUserForm.name.$touched && !registerUser.registerUserForm.name.$valid" ng-messages-multiple>
			<span class="pure-u-1 cW mT5 mB5 fL tSh" data-ng-message="required">{{'registerTexts.formRegister.nameErrorRequired' | translate}}</span>
		</div>
	</div>
	
	<div class="pure-u-1 fL pure-control-group">
		<div class="inputBox validateMark posR disInl">
			<input type="tel" class="inputTel mT5 mB5 mW300 w100" name="phone" placeholder="{{'registerTexts.formRegister.phonePlaceholder' | translate}}" ng-minlength="9"
			ng-maxlength="9" required data-ng-model="registerUser.user.phone" ng-pattern="/^[a-zA-Z0-9]{9}$/" />
			<div class="errorMark" ng-if="registerUser.registerUserForm.phone.$touched && !registerUser.registerUserForm.phone.$valid">
			</div>
			<div class="correctMark" ng-if="registerUser.registerUserForm.phone.$touched && registerUser.registerUserForm.phone.$valid">
			</div>
		</div>
		<div ng-messages="registerUser.registerUserForm.phone.$error" ng-if="registerUser.registerUserForm.phone.$touched && !registerUser.registerUserForm.phone.$valid" ng-messages-multiple>
			<span class="pure-u-1 cW mT5 mB5 fL tSh" data-ng-message="required || pattern">{{'registerTexts.formRegister.phoneErrorRequired' | translate}}</span>
			<span class="pure-u-1 cW mT5 mB5 fL tSh" data-ng-message="minlength">{{'registerTexts.formRegister.phoneErrorMinLength' | translate}}</span>
		</div>
	</div>
	<div class="pure-u-1 fL pure-control-group">
		<div class="validateMark posR disInl">
			<input type="email" class="inputPL mT5 mB5 mW300 w100" name="email" placeholder="{{'registerTexts.formRegister.emailPlaceholder' | translate}}" required data-ng-model="registerUser.user.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" />
			<div class="errorMark" ng-if="registerUser.registerUserForm.email.$touched && !registerUser.registerUserForm.email.$valid">
			</div>
			<div class="correctMark" ng-if="registerUser.registerUserForm.email.$touched && registerUser.registerUserForm.email.$valid">
			</div>
		</div>
		<div ng-messages="registerUser.registerUserForm.email.$error" ng-if="registerUser.registerUserForm.email.$touched && !registerUser.registerUserForm.email.$valid" ng-messages-multiple >
			<span class="pure-u-1 cW mT5 mB5 fL tSh" data-ng-message="required">{{'registerTexts.formRegister.emailErrorRequired' | translate}}</span>
			<span class="pure-u-1 cW mT5 mB5 fL tSh" data-ng-message="pattern">{{'registerTexts.formRegister.emailErrorPattern' | translate}}</span>
		</div>
	</div>
	<div class="pure-u-1 fL pure-control-group">
		<div class="validateMark posR disInl">
			<input type="password" class="inputPL mT5 mB5 mW300 w100" name="password" placeholder="{{'password.passwordPlaceholder' | translate}}" required data-ng-model="registerUser.user.password" ng-minlength="4" />
			<div class="errorMark" ng-if="registerUser.registerUserForm.password.$touched && !registerUser.registerUserForm.password.$valid">
			</div>
			<div class="correctMark" ng-if="registerUser.registerUserForm.password.$touched && registerUser.registerUserForm.password.$valid">
			</div>
		</div>
		<div ng-messages="registerUser.registerUserForm.password.$error" ng-if="registerUser.registerUserForm.password.$touched && !registerUser.registerUserForm.password.$valid" ng-messages-multiple >
			<span class="pure-u-1 cW mT5 mB5 fL tSh" data-ng-message="required">{{'password.passwordErrorRequired' | translate}}</span>
			<span class="pure-u-1 cW mT5 mB5 fL tSh" data-ng-message="minlength">{{'password.passwordErrorMinLength' | translate}}</span>
		</div>
	</div>
	<div class="pure-u-1 fL mT20">
		<p class="cW mB10 tSh">{{'securityQuestion.selectSecurityQuestionText' | translate}}</p>
	</div>
	<div class="pure-u-1 fL pure-control-group">
		<select name="securityQuestion" class="inputPL mT5 mB5 mW300 pB5 w100" required data-ng-model="registerUser.user.securityQuestion" ng-options="pregunta.value as pregunta.text for pregunta in registerUser.preguntas">
			<option value="" hidden selected>{{'securityQuestion.securityQuestionText' | translate}}</option>
		</select>
	</div>
	<div class="pure-u-1 fL pure-control-group">
		<div class="validateMark posR disInl">
			<input type="password" class="inputPL mT5 mB5 mW300 w100" name="securityAnswer" placeholder="{{'securityQuestion.securityAnswerPlaceholder' | translate}}" required ng-minlength="4" data-ng-model="registerUser.user.securityAnswer" />
			<div class="errorMark" ng-if="registerUser.registerUserForm.securityAnswer.$touched && !registerUser.registerUserForm.securityAnswer.$valid">
			</div>
			<div class="correctMark" ng-if="registerUser.registerUserForm.securityAnswer.$touched && registerUser.registerUserForm.securityAnswer.$valid">
			</div>
		</div>
		<div ng-messages="registerUser.registerUserForm.securityAnswer.$error" ng-if="registerUser.registerUserForm.securityAnswer.$touched && !registerUser.registerUserForm.securityAnswer.$valid" ng-messages-multiple >
			<span class="pure-u-1 cW mT5 mB5 fL tSh" data-ng-message="required">{{'securityQuestion.securityAnswerErrorRequired' | translate}}</span>
			<span class="pure-u-1 cW mT5 mB5 fL tSh" data-ng-message="minlength">{{'securityQuestion.securityAnswerErrorMinLength' | translate}}</span>
		</div>
	</div>
	<div class="pure-u-1 mT20 mB5 fL">
		<input type="checkbox" id="acceptTerms" name="terms" data-ng-model="registerUser.user.terms" required/>
		<label for="acceptTerms" class="cW tSh cP">{{'registerTexts.formRegister.confirmTermsText' | translate}} <a class="cW tDu termsLink" href="">{{'registerTexts.formRegister.confirmTermsLink' | translate}}</a> *</label>
		<div ng-messages="registerUser.registerUserForm.terms.$error" ng-if="registerUser.registerUserForm.terms.$touched && !registerUser.registerUserForm.terms.$valid" ng-messages-multiple >
			<span class="pure-u-1 mT15 cW mB5 fL tSh" data-ng-message="required">{{'registerTexts.formRegister.confirmTermsErrorRequired' | translate}}</span>
		</div>
	</div>
	<div class="pure-u-1 mT30 mB30 tAc">
		<button type="submit" class="greenBtn" data-ng-disabled="!registerUser.registerUserForm.$valid">
		<span ng-show="!registerUser.loading">{{'registerTexts.formRegister.nextButton' | translate}}</span>
		<i class="fa fa-spinner fa-pulse fa-fw sendSpinner" ng-show="registerUser.loading"></i>
		</button>
	</div>
</form>