<div class="content">
	<div class="pure-g">
		<div class="pure-u-1 tAc mAuto disInh">
			<span class="mAuto pT15">{{'footer.textFooter' | translate}}</span>
		</div>
		<div class="partnersBox pure-u-1 fL disInh">
			<div class="pure-u-1 mW400 tAc mAuto disInh pT5">
				<div class="pure-u-1-3 p5 mH60">
					<img class="mAuto" src="/images/caixa-logo.svg" />
				</div>	
				<div class="pure-u-1-3 p5 mH60">	
					<img class="mAuto" src="/images/santander-logo.svg" />
				</div>
				<div class="pure-u-1-3 p5 mH60">	
					<img class="mAuto" src="/images/telefonica-logo.svg" />
				</div>
			</div>
		</div>
	</div>
</div>
