<div id="content" class="content">
  <section class="mB120">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-lg-1-2"></div>
      <div class="pure-u-1 pure-u-lg-1-2">
          <div class="greenFlag bRadius10 mT50 mB30 mW300 mAuto"> 
              <h2 class="tAc mT0 mB0 pT15 pL5 pR5 cW">{{loginPay.payLinkParameters.amount | currency}} {{'checkLinkTexts.toText' | translate}} {{loginPay.payLinkParameters.nameUser}}</h2>
              <h3 class="tAc mT0 pL5 pR5 pB15 cW">{{loginPay.payLinkParameters.titleLink}}</h3>
          </div>
        <form novalidate name="loginPay.loginForm" data-ng-submit="loginPay.sendPay()" class="pure-form pure-form-aligned tAc">
          <div class="error-box mB10" ng-show="loginPay.errorNoConnection">
            <p class="error-text mT0">{{'errors.noConnectionLogin' | translate}}</p>
          </div>
           <div class="error-box mB10" ng-show="loginPay.errorBadCredentials">
            <p class="error-text mT0">{{'errors.badCredentialsText' | translate}}</p>
          </div>
          <div class="error-box mB10" ng-show="loginPay.errorServer">
            <p class="error-text mT0" ng-bind="loginPay.errorServerText"></p>
          </div>
          <div class="pure-u-1 fL pure-control-group">
            <div class="validateMark disInl posR">
              <input type="email" class="inputPL mT5 mB5 mW300 w100" autofocus name="email" data-ng-model="loginPay.email" placeholder="{{'loginTexts.formLogin.emailPlaceholder' | translate}}" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" />
              <div class="errorMark" ng-if="loginPay.loginForm.email.$touched && !loginPay.loginForm.email.$valid">
              </div>
              <div class="correctMark" ng-if="loginPay.loginForm.email.$touched && loginPay.loginForm.email.$valid || loginPay.loginForm.$valid">
              </div>
            </div>
            <div ng-messages="loginPay.loginForm.email.$error" ng-if="loginPay.loginForm.email.$touched && loginPay.loginForm.email.$invalid" ng-messages-multiple>
              <span class="pure-u-1 cW mT5 mB5 fL tSh" ng-message="pattern || required">{{'loginTexts.formLogin.emailErrorPattern' | translate}}</span>
            </div>
          </div>
          
          <div class="pure-u-1 fL pure-control-group">
            <div class="validateMark disInl posR">
              <input type="password" data-ng-model="loginPay.password" class="inputPL mT5 mB5 mW300 w100" name="password" placeholder="{{'loginTexts.formLogin.passwordPlaceholder' | translate}}" required ng-minlength="4" />
              <div class="errorMark" ng-if="loginPay.loginForm.password.$touched && !loginPay.loginForm.password.$valid">
              </div>
              <div class="correctMark" ng-if="loginPay.loginForm.password.$touched && loginPay.loginForm.password.$valid || loginPay.loginForm.$valid">
              </div>
            </div>
            <div ng-messages="loginPay.loginForm.password.$error" ng-if="loginPay.loginForm.password.$touched && loginPay.loginForm.password.$invalid" ng-messages-multiple>
              <span class="pure-u-1 cW mT5 mB5 fL tSh" ng-message="required">{{'loginTexts.formLogin.passwordErrorRequired' | translate}}</span>
            </div>
          </div>
          <div class="pure-u-1 mT30 mB30 tAc">
            <button type="submit" class="greenBtn" data-ng-disabled="!loginPay.loginForm.$valid || loginPay.loading" ng-click="loginPay.sendEventPush('PayDeeplink', 'confirmPayment', 'PayDeeplink-ConfirmPayment');">
            <span ng-show="!loginPay.loading">{{'loginTexts.confirmPay' | translate}}</span>
            <i class="fa fa-spinner fa-pulse fa-fw sendSpinner" ng-show="loginPay.loading"></i>
            </button>
          </div>
        </form>
        <div class="mT10 tAc">
          <p><a class="tDu tSh cWI" ng-model="inputMail" ng-click="inputMail = !inputMail">{{'loginTexts.lostPassword' | translate}}</a></p>
          <form novalidate name="loginPay.lostPasswordSendEmail" data-ng-submit="loginPay.sendEmail()" ng-show="inputMail" class="pure-form pure-form-aligned tAc optionInputs">
            <p class="cW tSh">{{'loginTexts.textinfoEmail' | translate}}</p>
            <input type="email" name="email" data-ng-model="loginPay.resetEmail" class="inputPL w100" required placeholder="{{'loginTexts.formLogin.resetPasswordPlaceholder' | translate}}" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
            <div class="errorMarkW posR" ng-if="loginPay.lostPasswordSendEmail.email.$touched && !loginPay.lostPasswordSendEmail.email.$valid">
            </div>
            <div class="correctMarkW posR" ng-if="loginPay.lostPasswordSendEmail.email.$touched && loginPay.lostPasswordSendEmail.email.$valid || loginPay.lostPasswordSendEmail.$valid">
            </div>
            <button type="submit" ng-click="loginPay.sendEventPush('PayDeeplink', 'ForgotPassword', 'PayDeeplink-ConfirmPayment');" ng-class="{true: 'activeButton' , false: 'disableButton'}[loginPay.lostPasswordSendEmail.$valid]">
              <i class="fa fa-paper-plane-o fontSize20I" aria-hidden="true"></i><span>{{'loginTexts.send' | translate}}</span>
            </button>
            <div ng-messages="loginPay.lostPasswordSendEmail.email.$error" ng-if="loginPay.lostPasswordSendEmail.email.$touched && loginPay.lostPasswordSendEmail.email.$invalid">
              <span class="pure-u-1 cW mT5 mB5 fL tSh" ng-message="pattern || required">{{'loginTexts.formLogin.emailErrorPattern' | translate}}</span>
            </div>

            <p class="tAc cW" ng-show="loginPay.showSendPassword">{{'loginTexts.emailSendText' | translate}}</p>
            <div class="error-box mB10 mT10" ng-show="loginPay.errorShowSendPassword">
              <p class="error-text mT0" ng-bind="loginPay.errorShowSendPasswordText"></p>
            </div>
          </form>
          <p><a class="tDu tSh cWI" ng-model="inputPhone" ng-click="inputPhone = !inputPhone">{{'loginTexts.notAccount' | translate}}</a></p>
          <form novalidate name="loginPay.sendSMSform" data-ng-submit="loginPay.sendSMS(loginPay.phone)" ng-show="inputPhone" class="pure-form pure-form-aligned tAc optionInputs">
            <p class="cW tSh">{{'loginTexts.textinfoSMS' | translate}}</p>
            <input name="phone" type="tel" class="inputPL w100" placeholder="{{'loginTexts.formLogin.sendSMSplaceholder' | translate}}" ng-maxlength="9" ng-minlength="9" limit-to="9" ng-pattern="/^[0-9]{9}$/" data-ng-model="loginPay.phone" required>
            <div class="errorMarkW posR" ng-if="loginPay.sendSMSform.phone.$touched && !loginPay.sendSMSform.phone.$valid">
            </div>
            <div class="correctMarkW posR" ng-if="loginPay.sendSMSform.phone.$touched && loginPay.sendSMSform.phone.$valid || loginPay.sendSMSform.$valid">
            </div>
            <button type="submit" ng-click="loginPay.sendEventPush('PayDeeplink', 'NewUser', 'PayDeeplink-ConfirmPayment');" ng-class="{true: 'activeButton' , false: 'disableButton'}[loginPay.sendSMSform.$valid]">
            <i class="fa fa-mobile" aria-hidden="true"></i> <span class="mT6">{{'loginTexts.send' | translate}}</span>
            </button>
            <div ng-messages="loginPay.sendSMSform.phone.$error" ng-if="loginPay.sendSMSform.phone.$touched && loginPay.sendSMSform.phone.$invalid">
              <span class="pure-u-1 cW mT5 mB5 fL tSh" ng-message="minlength || maxlength || required || pattern">{{'loginTexts.formLogin.phoneErrorPattern' | translate}}</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="overlay" ng-show="loginPay.needRecharge">
  <div class="modal" tabindex="-1" role="dialog" aria-labelledby="overlayLabel" aria-hidden="true">
    <div class="modal-body">
      <h3 class="tAc mT50 mB50">{{'loginTexts.modalRechargeText' | translate}}</h3>
      <div class="tAc">
        <button class="greenBtn" ng-click="loginPay.recharge()">
        Aceptar
        </button>
        <button class="inverseGreenBtn" ng-click="loginPay.needRecharge = false">
        Cancelar
        </button>
      </div>
    </div>
  </div>
</div>