<div id="content" class="content">
  <section class="mB120">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-lg-1-2"></div>
      <div class="pure-u-1 pure-u-lg-1-2">
        <div class="error-box mT50" ng-show="checkLink.errorNoData">
          <p class="error-text mT0" ng-bind="checkLink.errorNoDataText"></p>
        </div>
        <div class="error-box mT50" ng-show="checkLink.errorBadRequest">
          <p class="error-text mT0">{{'errors.errorBadRequestText' | translate}}</p>
        </div>
        <h2 class="mainh2 tAc mT0 pT50 mB10 cW tSh">{{'checkLinkTexts.titleRight' | translate}}</h2>
        <div ng-if="!checkLink.deepLinkParameters.amount">
          <form novalidate name="checkLink.checkLinkForm" data-ng-submit="checkLink.setAmountAndGoLoginPay()" class="pure-form pure-form-aligned tAc">
            <div class="pure-u-1 fL pure-control-group">
                <input type="number" class="inputPL mT5 mB5 mW300 w100" name="amount" data-ng-model="checkLink.amount" autofocus required max="9999.99" min="0.01" limit-to="7" placeholder="{{'checkLinkTexts.amountNotDefined' | translate}}" />
              <div ng-messages="checkLink.checkLinkForm.amount.$error" ng-if="checkLink.checkLinkForm.amount.$touched && !checkLink.checkLinkForm.amount.$valid">
                <span class="pure-u-1 cW mT5 mB5 fL" data-ng-message="required">{{'checkLinkTexts.amountRequired' | translate}}</span>
                <span class="pure-u-1 cW mT5 mB5 fL " data-ng-message="number">{{'checkLinkTexts.amountNumber' | translate}}</span>
                <span class="pure-u-1 cW mT5 mB5 fL" data-ng-message="min">{{'checkLinkTexts.amountMin' | translate}}</span>
                <span class="pure-u-1 cW mT5 mB5 fL" data-ng-message="max">{{'checkLinkTexts.amountMax' | translate}}</span>
              </div>
            </div>
            <p class="tAc cW">{{'checkLinkTexts.toText' | translate}}</p>
            <p class="tAc">

                <img class="userImg cP" ng-src="{{checkLink.deepLinkParameters.image}}" ng-alt="{{checkLink.deepLinkParameters.nameUser}}" ng-model="checkLink.zoomUserImage" ng-init="checkLink.zoomUserImage = false" ng-click="checkLink.zoomUserImage = !checkLink.zoomUserImage" ng-if="!checkLink.deepLinkParameters.imageUrl"/>

                <img class="userImg cP" ng-src="{{checkLink.deepLinkParameters.imageUrl}}" ng-alt="{{checkLink.deepLinkParameters.nameUser}}" ng-model="checkLink.zoomUserImage" ng-init="checkLink.zoomUserImage = false" ng-click="checkLink.zoomUserImage = !checkLink.zoomUserImage" ng-if="checkLink.deepLinkParameters.imageUrl"/>

            </p>
            <p class="tAc cW fWb fontSize20I" ng-bind="checkLink.deepLinkParameters.nameUser"></p>
            <p class="tAc cW fWb fontSize16I" ng-bind="checkLink.deepLinkParameters.titleLink"></p>
            <div class="pure-u-1 mT30 mB30 tAc">
              <input type="submit" value="{{'checkLinkTexts.buttonText' | translate}}" class="greenBtn" data-ng-disabled="!checkLink.checkLinkForm.$valid" ng-click="checkLink.sendEventPush('PayDeeplink', 'PayDeeplink[_Photo]', 'PayDeeplink-NoAmountDefined');">
            </div>
          </form>
      </div>
        <div class="pure-u-1 fL pure-control-group tAc" ng-if="checkLink.deepLinkParameters.amount">
          <span class="pure-u-1 mT5 mB5 cW mainPrice" ng-bind="checkLink.deepLinkParameters.amount | currency"></span>
          <p class="tAc cW">{{'checkLinkTexts.toText' | translate}}</p>
          <div class="tAc">
           
              <img class="userImg cP" ng-src="{{checkLink.deepLinkParameters.image}}" ng-alt="{{checkLink.deepLinkParameters.nameUser}}" ng-model="checkLink.zoomUserImage" ng-init="checkLink.zoomUserImage = false" ng-click="checkLink.zoomUserImage = !checkLink.zoomUserImage" ng-if="!checkLink.deepLinkParameters.imageUrl"/>

                <img class="userImg cP" ng-src="{{checkLink.deepLinkParameters.imageUrl}}" ng-alt="{{checkLink.deepLinkParameters.nameUser}}" ng-model="checkLink.zoomUserImage" ng-init="checkLink.zoomUserImage = false" ng-click="checkLink.zoomUserImage = !checkLink.zoomUserImage" ng-if="checkLink.deepLinkParameters.imageUrl"/>
  
          </div>
          <p class="tAc cW" ng-bind="checkLink.deepLinkParameters.nameUser"></p>
          <p class="tAc cW" ng-bind="checkLink.deepLinkParameters.titleLink"></p>
          <a ui-sref="payLink.loginPay" ng-click="checkLink.sendEventPush('PayDeeplink', 'PayDeeplink[_Photo]', 'PayDeeplink-AmountDefined');">
            <button class="greenBtn">{{'checkLinkTexts.buttonText' | translate}}</button>
          </a>
        </div>
    </div>
  </section>
</div>

<div id="zoomImage" class="modal" tabindex="-1" role="dialog" aria-labelledby="zoomImageLabel" aria-hidden="true" ng-show="checkLink.zoomUserImage">
  <div class="modal-header tAr">
    <a class="pure-button" data-dismiss="modal" aria-hidden="true" ng-click="checkLink.zoomUserImage = !checkLink.zoomUserImage">X</a>
  </div>
  
  <div class="modal-body">
    <div class="zoomUserImg" ng-style="{'background-image':'url({{checkLink.deepLinkParameters.image}})'}">
    </div>
  </div>
</div>


<div class="overlay" ng-show="checkLink.showOverlay">
  <div class="modal" tabindex="-1" role="dialog" aria-labelledby="overlayLabel" aria-hidden="true">
  <div class="modal-body">
    <p class="tAc" ng-bind="checkLink.showOverlayText"></p>
  </div>
</div>
</div>

<div class="overlay" ng-show="checkLink.showOverlayNoLink">
  <div class="modal" tabindex="-1" role="dialog" aria-labelledby="overlayLabel" aria-hidden="true">
  <div class="modal-body">
    <p class="tAc">{{'errors.showOverlayNoLinkText' | translate}}</p>
  </div>
</div>
</div>

