<div image-focus focus-x="-0.31" focus-y="0.03" focus-w="1920" focus-h="1281" image="foto-registro"></div>
<div id="content" class="content">
	<section class="mB50">
		<div class="pure-g">
			<div class="pure-u-1 pure-u-lg-1-2">
				<h2 class="mainh2Big tAc mT225 mB50 cW mainh2BigmT225 tSh">
				{{'registerTexts.titleLeft' | translate}}
				</h2>
				<div class="mAuto pure-g tAc disTab">
					<div class="cW tAc pure-u-1-2 pure-sm-1-3 mW120 registerIcons">
						<ng-include src="'/images/safe-register.svg'"></ng-include>
						<div class="mT10">
							<p class="w100 m0 tU tSh">{{'registerTexts.iconsLeft.firstIconTitleText' | translate}}</p>
							<p class="m0 tSh">{{'registerTexts.iconsLeft.firstIconText' | translate}}</p>
						</div>
					</div>
					<div class="cW tAc pure-u-1-2 pure-sm-1-3 mW120 registerIcons">
						<ng-include src="'/images/instantaneous-register.svg'"></ng-include>
						<div class="mT10">
							<p class="w100 m0 tU tSh">{{'registerTexts.iconsLeft.secondIconTitleText' | translate}}</p>
							<p class="m0 tSh">{{'registerTexts.iconsLeft.secondIconText' | translate}}</p>
						</div>
					</div>
					<div class="cW tAc pure-u-1 pure-sm-1-3 mW120 registerIcons">
						<ng-include src="'/images/free-register.svg'"></ng-include>
						<div class="mT10">
							<p class="w100 m0 tU tSh">{{'registerTexts.iconsLeft.thirdIconTitleText' | translate}}</p>
							<p class="m0 tSh">{{'registerTexts.iconsLeft.thirdIconText' | translate}}</p>
						</div>
					</div>
				</div>
			</div>
			<div ui-view class="pure-u-1 pure-u-lg-1-2"></div>
		</div>
	</section>
</div>