<h2 class="mainh2Big tAc mT50 mB30 tSh cW mainh2BigmT225">{{'addCardTexts.title' | translate}}</h2>
<h3 class="mainh3 mW300 tAc mAuto mT10 mB30 tSh letSpace">{{'addCardTexts.subtitle' | translate}}</h3>
<div class="error-box mB20" ng-show="addCard.error">
	<p class="error-text" ng-bind="addCard.errorText"></p>
</div>
<form novalidate name="addCard.addCardForm" data-ng-submit="addCard.addCardUser()" class="pure-form pure-form-aligned tAc">
	<div class="pure-u-1 fL pure-control-group">
		<div class="validateMark disInl posR">
			<input type="text" class="inputPL mT5 mB5 mW300 w100" cc-number cc-type="cardType" cc-format name="numberOfCard" placeholder="{{'addCardTexts.numberOfCardPlaceholder' | translate}}" required data-ng-model="addCard.numberOfCard" />
			<div class="errorMark" ng-if="addCard.addCardForm.numberOfCard.$touched && !addCard.addCardForm.numberOfCard.$valid">
			</div>
			<div class="correctMark" ng-if="(addCard.addCardForm.numberOfCard.$touched && addCard.addCardForm.numberOfCard.$valid) || addCard.addCardForm.$valid">
			</div>
		</div>
		
		<div ng-messages="addCard.addCardForm.numberOfCard.$error" ng-if="addCard.addCardForm.numberOfCard.$touched && !addCard.addCardForm.numberOfCard.$valid" ng-messages-multiple>
			<span class="pure-u-1 cW mT5 mB5 fL" data-ng-message="required">{{'addCardTexts.numberOfCardErrorRequired' | translate}}</span>
		</div>
		<div cc-exp>
			<div class="validateMark disInl posR">
				<input type="text" cc-exp-month class="inputPL mT5 mB5 mW300 w100" name="expirateMonth" placeholder="{{'addCardTexts.expirateMonthPlaceholder' | translate}}" required data-ng-model="addCard.expirateMonth" />
				<div class="errorMark" ng-if="addCard.addCardForm.expirateMonth.$touched && (!addCard.addCardForm.expirateMonth.$valid || addCard.addCardForm.$error.ccExp)">
				</div>
				<div class="correctMark" ng-if="(addCard.addCardForm.expirateMonth.$touched && addCard.addCardForm.expirateMonth.$valid && !addCard.addCardForm.$error.ccExp) || addCard.addCardForm.$valid">
				</div>
			</div>
			
			<div ng-messages="addCard.addCardForm.expirateMonth.$error" ng-if="addCard.addCardForm.expirateMonth.$touched && !addCard.addCardForm.expirateMonth.$valid" ng-messages-multiple>
				<span class="pure-u-1 cW mT5 mB5 fL" data-ng-message="required">{{'addCardTexts.expirateMonthErrorRequired' | translate}}</span>
			</div>
			<div class="validateMark disInl posR">
				<input type="text" cc-exp-year class="inputPL mT5 mB5 mW300 w100" name="expirateYear" placeholder="{{'addCardTexts.expirateYearPlaceholder' | translate}}" required data-ng-model="addCard.expirateYear" />
				<div class="errorMark" ng-if="addCard.addCardForm.expirateYear.$touched && (!addCard.addCardForm.expirateYear.$valid || addCard.addCardForm.$error.ccExp)">
				</div>
				<div class="correctMark" ng-if="(addCard.addCardForm.expirateYear.$touched && addCard.addCardForm.expirateYear.$valid && !addCard.addCardForm.$error.ccExp) || addCard.addCardForm.$valid">
				</div>
			</div>
			
			<div ng-messages="addCard.addCardForm.expirateYear.$error" ng-if="addCard.addCardForm.expirateYear.$touched && !addCard.addCardForm.expirateYear.$valid" ng-messages-multiple>
				<span class="pure-u-1 cW mT5 mB5 fL" data-ng-message="required">{{'addCardTexts.expirateYearErrorRequired' | translate}}</span>
			</div>
			
			<span class="pure-u-1 cW mT5 mB5 fL" ng-show="addCard.addCardForm.$error.ccExp">{{'addCardTexts.expirateDateError' | translate}}</span>
		</div>
		<div class="validateMark disInl posR">
			<input type="text" cc-cvc cc-type="addCard.addCardForm.numberOfCard.$ccType" class="inputPL mT5 mB5 mW300 w100" name="cvv" placeholder="{{'addCardTexts.cvvPlaceholder' | translate}}" required data-ng-model="addCard.cvv" />
			<div class="errorMark" ng-if="addCard.addCardForm.cvv.$touched && !addCard.addCardForm.cvv.$valid">
			</div>
			<div class="correctMark" ng-if="(addCard.addCardForm.cvv.$touched && addCard.addCardForm.cvv.$valid) || addCard.addCardForm.$valid">
			</div>
		</div>
		
		<div ng-messages="addCard.addCardForm.cvv.$error" ng-if="addCard.addCardForm.cvv.$touched && !addCard.addCardForm.cvv.$valid" ng-messages-multiple>
			<span class="pure-u-1 cW mT5 mB5 fL" data-ng-message="required">{{'addCardTexts.cvvErrorRequired' | translate}}</span>
		</div>
	</div>
	<div class="pure-u-1 mT30 mB30 tAc">
		<button type="submit" class="greenBtn" data-ng-disabled="!addCard.addCardForm.$valid">{{'addCardTexts.buttonText' | translate}}</button>
	</div>
	<div class="pure-u-1 mT30 mB30 tAc tSh">
		<p class="cW">{{'addCardTexts.omitText' | translate}} <a ui-sref="register.confirm">{{'addCardTexts.omitLink' | translate}}</a></p>
	</div>
</form>

<div class="overlay" ng-show="addCard.modal">
	<div class="modal" tabindex="-1" role="dialog" aria-labelledby="overlayLabel" aria-hidden="true">
		<div class="modal-body">
			<p class="tAc" ng-bind="addCard.modalText"></p>
			<a ui-sref="register.confirm" class="greenBtn">{{'addCardTexts.modal190Accept' | translate}}</a>
		</div>
	</div>
</div>