<div image-focus focus-x="0.22" focus-y="0.28" focus-w="1920" focus-h="1280" image="foto-recuperar-contraseña"></div>
<div id="content" class="content">
	<section class="mB50">
		<div class="pure-g">
			<div class="pure-u-sm-1-2">
			</div>
			<div class="pure-u-1 pure-u-sm-1-2 tAc">
				<h2 class="mainh2Big tAc mT225 mB50 cW mainh2BigmT225">Contraseña actualizada</h2>
				<h3 class="mainh3 tAc mT10 mB10">Ya puedes acceder a tu cuenta Yaap money.</h3>
				<button class="greenBtn mT20" ng-show="{{deviceTabletOrMobile}}">Abrir APP</button>
			</div>
		</div>
	</section>
</div>