<div class="content">
	<h1>Yaap Money</h1>
	<a href="/" title="Inicio" class="mainLogo mT15 mB5 fL" data-ng-include="'/images/logo-yaap.svg'"></a>
	<div class="pure-form">
		<main-languages></main-languages>
	</div>
</div>
