<div class="pL50">
	<h2 class="mainh2Big mT125 tAc pL30 mB50 cW mainh2BigmT125">{{'otpTexts.title' | translate}}</h2>
	<h3 class="pL50 pR50 cW"><span class="pR10">{{'otpTexts.name' | translate}} : </span> {{otp.userData.userInfo.name}}</h3>
	<h3 class="pL50 pR50 cW"><span class="pR10">{{'otpTexts.phone' | translate}} : </span> {{otp.userData.userInfo.defaultPhoneNumber}}</h3>
	<h3 class="pL50 pR50 cW"><span class="pR10">{{'otpTexts.email' | translate}} : </span> {{otp.userData.userInfo.defaultEMail}}</h3>
	<h3 class="tAc mT50 mB50 cW mainh2BigmT225">{{'otpTexts.smsText' | translate}}</h3>
	<div class="error-box mB20" ng-show="otp.error">
		<p class="error-text" ng-bind="otp.errorText"></p>
	</div>
	<form name="otp.verifyOTP" data-ng-submit="otp.validateOtp(otp.otpNumber)" class="pure-form pure-form-aligned tAc">
		<div class="validateMark posR disInl">
			<input type="text" class="inputPL mT5 mB5 mW300 w100" name="otpNumber" placeholder="{{'otpTexts.otpPlaceholder' | translate}}" required minlength="4" maxlength="4" data-ng-model="otp.otpNumber" />
			<div class="errorMark" ng-if="otp.verifyOTP.otpNumber.$touched && !otp.verifyOTP.otpNumber.$valid">
			</div>
			<div class="correctMark" ng-if="otp.verifyOTP.otpNumber.$touched && otp.verifyOTP.otpNumber.$valid || otp.verifyOTP.$valid">
			</div>
		</div>
		<div class="pure-u-1 mT20 mB20">
			<button type="submit" class="btn greenBtn" data-ng-disabled="!otp.verifyOTP.$valid">
			<span ng-show="!otp.loading">{{'otpTexts.nextButton' | translate}}</span>
			<i class="fa fa-spinner fa-pulse fa-fw sendSpinner" ng-show="otp.loading"></i>
			</button>
		</div>
	</form>
	<div class="pure-u-1 mT10 mB10 tAc">
		<p class="cW tSh">
			{{'otpTexts.dontReceive' | translate}}
			<button class="noBtn tDu green" ng-click="otp.sendOtp()" >
			{{'otpTexts.clickHere' | translate}}
			</button>
			{{'otpTexts.resend' | translate}}
		</p>
		<div class="ok-box mB20" ng-show="otp.otpSended">
			<p class="ok-text">{{'otpTexts.resendOk' | translate}}</p>
		</div>
		<div class="error-box mB20" ng-show="otp.errorOtpSended">
			<p class="error-text" ng-bind="otp.errorText"></p>
		</div>
	</div>
</div>