$green: #00ab8e
.optionInputs
	input
		border-radius: 4px 0px 0px 4px!important
		max-width: 200px
		margin-left: -100px
	button
		width: 100px
		height: 37px
		border: none
		border-radius: 0 4px 4px 0
		position: absolute
		i
			font-size: 30px
			margin-left: 10px
			float: left
		span
			float: left
			margin-left: 10px
			font-weight: bold
	.activeButton
		background: $green
		color: white
	.disableButton
		background: #e6e6e6
		color: #6d6d6d
