/*///////////////MAIN RESOURCES////////////*/
.content 
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
	max-width: 1100px;

.greenFlag
	background: rgba(0, 171, 142, 0.8)

.shareDownload
	position: absolute
	width: 100%
	left: 0
	bottom: 100px

.shareBtn
	margin: 4px 8px
	i 
		border: 2px solid white
		border-radius: 50%
		padding: 9px
		font-size: 20px
		width: 20px
		text-align: center

.shareIn
	margin-top: -5px
	margin-bottom: 0px

.userImg
	max-width: 150px
	border-radius: 50%
	max-width: 200px
	border: 7px solid #00ab8e

#zoomImage
	width: 60%
	height: 80%
	left: 20%
	margin-left: 0
	background-color: #000

#zoomImage .modal-header
	border-bottom: 1px solid #000

#zoomImage .modal-body
	height: 90%
	max-height: 100%

.zoomUserImg
	background-size: contain
	background-repeat: no-repeat
	background-position: center
	height: 100%

.overlay
	top: 0
	position: absolute
	height: 100%
	width: 100%
	background-color: rgba(0 ,0 ,0 , .6)

.mainPrice
	font-size: 60px
	font-weight: bold
	margin: 0px

@media screen and (min-width:48em)
	.header, .content 
		padding-left: 2em
		padding-right: 2em

@media screen and (max-width:48em)
	#zoomImage
		width: 90%
		height: 80%
		left: 5%
		margin-left: 0