.errorMark, .correctMark
	display: inline

.errorMark:after, .correctMark:after
	position: absolute
	right: 5px
	top: 0
	width: 20px
	height: 20px
	background-size: 20px !important
	
.errorMark:after
	content: ""
	background: url('/images/koCheck.png') no-repeat

.correctMark:after
	content: ""
	background: url('/images/okCheck.png') no-repeat

.inputBox
	position: relative
	height: 100%

.inputBox:before
	content: '+34'
	position: absolute
	left: 0
	top: -8px
	color: #6d6d6d
	padding: 9px 4px 8px
	width: 35px
	display: block
	border-top-left-radius: 4px
	border-bottom-left-radius: 4px
	background-color: #d6d6d6

.inputTel
	padding-left: 3.3em !important

.termsLink
	color: white !important

.pure-form select 
	padding-bottom: 5px
	padding-top: 5px

.registerIcons
	fill: none
	stroke: white
	stroke-width: 1.75
	align-self: flex-start

input#acceptTerms
	margin-top: -2px
	margin-right: 5px
	cursor: pointer