.pure-g [class*=pure-u]
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif !important

.pure-form input:focus:invalid, .pure-form select:focus:invalid, .pure-form textarea:focus:invalid 
    color: inherit
    border: 1px solid #ccc

input.ng-dirty.ng-touched.ng-invalid, input.ng-dirty.ng-touched.ng-valid
	color: inherit

@media only screen and (max-width: 480px) 
	.pure-form input:not([type]), .pure-form input[type=color], .pure-form input[type=date], .pure-form input[type=datetime-local], .pure-form input[type=datetime], .pure-form input[type=email], .pure-form input[type=month], .pure-form input[type=number], .pure-form input[type=password], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=text], .pure-form input[type=time], .pure-form input[type=url], .pure-form input[type=week], .pure-form label
		display: inline-block


