<div id="content" class="content">
  <section class="mB250">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-lg-1-2"></div>
      <div class="pure-u-1 pure-u-lg-1-2">
        <h2 class="mainh2 tAc mT0 pT50 mB10 cW tSh">{{'confirmPayTexts.titleRight' | translate}}</h2>
        <div class="pure-u-1 fL pure-control-group tAc">
          <p class= "tAc cW">{{'confirmPayTexts.amountSend' | translate}}</p>
          <p class="tAc cW mainPrice" ng-bind="confirmPay.payLinkParameters.amount | currency"></p>
          <p class="tAc cW">{{'confirmPayTexts.toText' | translate}}</p>
          <p class="tAc cW" ng-bind="confirmPay.payLinkParameters.nameUser"></p>
          <div class="tAc">
              <img class="userImg cP" ng-src="{{confirmPay.payLinkParameters.image}}" ng-alt="{{confirmPay.payLinkParameters.nameUser}}" ng-model="confirmPay.zoomUserImage" ng-init="confirmPay.zoomUserImage = false" ng-click="confirmPay.zoomUserImage = !confirmPay.zoomUserImage" />
          </div>
          <p class="tAc cW">{{'confirmPayTexts.forText' | translate}}</p>
          <p class="tAc cW" ng-bind="confirmPay.payLinkParameters.titleLink"></p>

          <p class="tAc cW shareIn mB10">{{'confirmPayTexts.shareText' | translate}}</p>
          <div class="sharePay">

            <div class="shareBtn disInlB mL0"><a facebook-feed-share class="facebookShare w100 h100 disInl" ng-click="confirmPay.share()"><i class="fa fa-facebook cWI" aria-hidden="true"></i></a></div>
            <div class="shareBtn disInlB"><a class="twitter-share-button disInl"
              href="https://twitter.com/intent/tweet?text=He pagado un link de pago con Yapp Money&via=YaapMoney&url=https://www.yaap.com/money/&hashtags=pagoconYaap">
                <i class="fa fa-twitter cWI" aria-hidden="true"></i>
              </a></div>
          </div>
        </div>
    </div>
  </section>
</div>
<section class="mB20 shareDownload tAc">
  <div class="content">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-lg-1-2">
        <a ng-click="confirmPay.sendEventPush('PayDeeplink', 'AppStore', 'PayDeeplink-PaymentConfirmed');" href="https://eat.emmasolutions.net/?entw=fe76d89aaaedad703e3b1a088f0b4c6a&eat_sub3=descarga-app-ios&eat_sub1=Yaap&eat_sub4=web&eat_sub2=yaap-money&utm_campaign=descarga-app-ios&utm_term=Yaap&utm_medium=web&utm_source=yaap-money" target="_blank"><div class="p5 mW200 disInlB tSh" data-ng-include="'images/download-ios.svg'"></div></a>
        <a ng-click="confirmPay.sendEventPush('PayDeeplink', 'GooglePlay', 'PayDeeplink-PaymentConfirmed');" href="https://eat.emmasolutions.net/?entw=76e81908f88a7e01a7bf9fc11f59915d&eat_sub3=descarga-app-android&eat_sub1=Yaap&eat_sub4=web&eat_sub2=yaap-money&utm_campaign=descarga-app-android&utm_term=Yaap&utm_medium=web&utm_source=yaap-money" target="_blank"><div class="p5 mW200 disInlB tSh" data-ng-include="'images/download-android.svg'"></div></a>
      </div>
      <div class="pure-u-1 pure-u-lg-1-2">
        <p class="tAc cW shareIn mB10">{{'share.shareText' | translate}}</p>
        <div class="shareBtn disInlB mL0"><a href="https://www.facebook.com/yaapmoney/" target="_blank"><i class="fa fa-facebook cW" aria-hidden="true"></i></a></div>
        <div class="shareBtn disInlB"><a href="https://twitter.com/yaap_money" target="_blank"><i class="fa fa-twitter cW" aria-hidden="true"></i></a></div>
        <div class="shareBtn disInlB"><a href="https://www.instagram.com/yaapmoney/" target="_blank"><i class="fa fa-instagram cW" aria-hidden="true"></i></a></div>
      </div>
    </div>
  </div>
</section>

<div id="zoomImage" class="modal" tabindex="-1" role="dialog" aria-labelledby="zoomImageLabel" aria-hidden="true" ng-show="confirmPay.zoomUserImage">
  <div class="modal-header tAr">
    <a class="pure-button" data-dismiss="modal" aria-hidden="true" ng-click="confirmPay.zoomUserImage = !confirmPay.zoomUserImage">X</a>
  </div>
  
  <div class="modal-body">
    <div class="zoomUserImg" ng-style="{'background-image':'url({{confirmPay.payLinkParameters.image}})'}">
    </div>
  </div>
</div>