<h2 class="mainh2Big tAc mT125 mB50 cW mainh2BigmT125 tSh">{{'confirmCardTexts.title' | translate}}</h2>
<div ng-if="confirmRegisterUser.card" class="tAc">
	<div class="mB50">
		<p class="tSh">{{'confirmCardTexts.firstParagraphText' | translate}}</p>
		<p class="tSh">{{'confirmCardTexts.automaticCasOutText' | translate}}</p>
		<div class="switch">
			<input type="checkbox" ng-change="confirmRegisterUser.recharge()" ng-model="confirmRegisterUser.check" ng-checked="true">
			<label>
				<span class="fontawesome-ok">SI</span>
				<span class="fontawesome-remove">NO</span>
				<div></div>
			</label>
		</div>
		<p class="tSh">{{'confirmCardTexts.automaticCasOutInfoText' | translate}}</p>
		<p class="tSh">{{'confirmCardTexts.yaapFreeText' | translate}}</p>
	</div>
	<a class="greenBtn" ui-sref="register.confirmFinish">	{{'confirmCardTexts.buttonContinueText' | translate}}
	</a>
</div>
<div ng-if="!confirmRegisterUser.card" class="tAc">
	<div class="mB50">
		<p class="tSh">{{'confirmCardTexts.secondParagraphText' | translate}}</p>
	</div>
	<div class="mB50">
		<a class="greenBtn" ui-sref="register.addCard">
			{{'confirmCardTexts.buttonAddCardText' | translate}}
		</a>
	</div>
	<p class="tSh tDu">{{'confirmCardTexts.downloadYaapAppText' | translate}}</p>
	<div class="pure-g share">
		<div class="pure-u-1">
			<a href="https://eat.emmasolutions.net/?entw=fe76d89aaaedad703e3b1a088f0b4c6a&eat_sub3=descarga-app-ios&eat_sub1=Yaap&eat_sub4=web&eat_sub2=yaap-money&utm_campaign=descarga-app-ios&utm_term=Yaap&utm_medium=web&utm_source=yaap-money" target="_blank"><div class="p5 mW200 disInlB tSh" data-ng-include="'images/download-ios.svg'"></div></a>
			<a href="https://eat.emmasolutions.net/?entw=76e81908f88a7e01a7bf9fc11f59915d&eat_sub3=descarga-app-android&eat_sub1=Yaap&eat_sub4=web&eat_sub2=yaap-money&utm_campaign=descarga-app-android&utm_term=Yaap&utm_medium=web&utm_source=yaap-money" target="_blank"><div class="p5 mW200 disInlB tSh" data-ng-include="'images/download-android.svg'"></div></a>
		</div>
	</div>
</div>