<div image-focus focus-x="0.22" focus-y="0.28" focus-w="1920" focus-h="1280" image="foto-recuperar-contraseña"></div>
<div id="content" class="content">
	<section class="mB50">
		<div class="pure-g">
			<div class="pure-u-sm-1-2">
				
			</div>
			<div class="pure-u-1 pure-u-sm-1-2" ng-if="!lostPasswordUser.userNotFound">
				<h2 class="mainh2Big tAc mT50 mB30 tSh cW mainh2BigmT225">{{'forgotPassword.title' | translate}}</h2>
				<h3 class="mainh3 mW300 tAc mAuto mT10 mB30 tSh letSpace">{{'forgotPassword.subtitle' | translate}}</h3>
				<div class="error-box mB20" ng-show="lostPasswordUser.error">
					<p class="error-text" ng-bind="lostPasswordUser.errorText"></p>
				</div>
				<form novalidate name="lostPasswordUser.recoverPasswordForm" data-ng-submit="lostPasswordUser.recoverPassword()" class="pure-form pure-form-aligned tAc">
					<div ng-if="lostPasswordUser.userOld">
						<div class="pure-u-1 mW300 pure-control-group">
							<div class="pure-u-1 pure-u-md-1-3 tAl">
								<p class="m0 mB5 tSh">{{'forgotPassword.oldUser.birthDate' | translate}}:</p>
							</div>
							<div class="pure-u-1 pure-u-md-2-3">
								<input type="text" name="birthDate" id="birthDate" autocomplete="off" ng-init="lostPasswordUser.initializeBirthDay()" ng-hide="true" data-toggle="dateSelect" required data-minyear="1899">
							</div>
						</div>
						<div class="pure-u-1 fL pure-control-group">
							<div class="validateMark disInl posR">
								<input type="text" class="inputPL mT5 mB5 mW300 w100" name="card" placeholder="{{'forgotPassword.oldUser.6digits' | translate}}" data-ng-model="lostPasswordUser.card" minlength="6" maxlength="6" />
								<div class="errorMark" ng-if="lostPasswordUser.recoverPasswordForm.card.$touched && !lostPasswordUser.recoverPasswordForm.card.$valid">
								</div>
								<div class="correctMark" ng-if="(lostPasswordUser.recoverPasswordForm.card.$touched && lostPasswordUser.recoverPasswordForm.card.$valid) || lostPasswordUser.recoverPasswordForm.$valid">
								</div>
							</div>
							
							<div ng-messages="lostPasswordUser.recoverPasswordForm.card.$error" ng-if="lostPasswordUser.recoverPasswordForm.card.$touched && !lostPasswordUser.recoverPasswordForm.card.$valid" ng-messages-multiple>
								<span class="pure-u-1 cW mT5 mB5 fL" data-ng-message="minlength">{{'registerTexts.formRegister.cardErrorMinLength' | translate}}</span>
							</div>
						</div>
						<div class="pure-u-1 fL">
							<p class="cW tSh mW300 mAuto mT10 mB10">{{'forgotPassword.oldUser.asteriskText' | translate}}</p>
						</div>
					</div>
					
					<div class="pure-u-1 fL pure-control-group">
						<div class="validateMark disInl posR">
							<input type="password" class="inputPL mT5 mB5 mW300 w100" name="password" placeholder="{{'password.passwordPlaceholder' | translate}}" required data-ng-model="lostPasswordUser.password" />
							<div class="errorMark" ng-if="lostPasswordUser.recoverPasswordForm.password.$touched && !lostPasswordUser.recoverPasswordForm.password.$valid">
							</div>
							<div class="correctMark" ng-if="(lostPasswordUser.recoverPasswordForm.password.$touched && lostPasswordUser.recoverPasswordForm.password.$valid) || lostPasswordUser.recoverPasswordForm.$valid">
							</div>
						</div>
						
						<div ng-messages="lostPasswordUser.recoverPasswordForm.password.$error" ng-if="lostPasswordUser.recoverPasswordForm.password.$touched && !lostPasswordUser.recoverPasswordForm.password.$valid" ng-messages-multiple>
							<span class="pure-u-1 cW mT5 mB5 fL" data-ng-message="required">{{'password.passwordErrorMinLength' | translate}}</span>
						</div>
					</div>
					<div class="pure-u-1 fL pure-control-group">
						<div class="validateMark disInl posR">
							<input type="password" class="inputPL mT5 mB5 mW300 w100" data-password-verify="lostPasswordUser.password" name="confirmPassword" placeholder="{{'password.confirmPassword' | translate}}" required data-ng-model="lostPasswordUser.confirmPassword" />
							<div class="errorMark" ng-if="lostPasswordUser.recoverPasswordForm.confirmPassword.$touched && !lostPasswordUser.recoverPasswordForm.confirmPassword.$valid">
							</div>
							<div class="correctMark" ng-if="(lostPasswordUser.recoverPasswordForm.confirmPassword.$touched && lostPasswordUser.recoverPasswordForm.confirmPassword.$valid) || lostPasswordUser.recoverPasswordForm.$valid">
							</div>
						</div>
						
						<div ng-messages="lostPasswordUser.recoverPasswordForm.confirmPassword.$error" ng-if="lostPasswordUser.recoverPasswordForm.confirmPassword.$touched && !lostPasswordUser.recoverPasswordForm.confirmPassword.$valid" ng-messages-multiple>
							<span class="pure-u-1 cW mT5 mB5 fL" data-ng-message="required">{{'password.passwordErrorMinLength' | translate}}</span>
						</div>
						<div ng-messages="lostPasswordUser.recoverPasswordForm.confirmPassword.$error" ng-if="lostPasswordUser.recoverPasswordForm.confirmPassword.$touched && !lostPasswordUser.recoverPasswordForm.confirmPassword.$valid" ng-messages-multiple>
							<span class="pure-u-1 cW mT5 mB5 fL" data-ng-message="required">{{'password.passwordErrorNoMatch' | translate}}</span>
						</div>
					</div>
					<div ng-if="!lostPasswordUser.userOld" class="pure-u-1 fL mT20 mB20 tSh">
						<p>{{'securityQuestion.securityQuestionText' | translate}}: {{lostPasswordUser.userSecurityQuestion}}</p>
					</div>
					<div ng-if="lostPasswordUser.userOld">
						<div class="pure-u-1 fL">
							<p class="cW mB10 tSh mW300 mAuto mT10 mB10">{{'forgotPassword.oldUser.newQuestionLabel' | translate}}</p>
						</div>
						
						<div class="pure-u-1 fL pure-control-group">
							<select name="securityQuestion" class="inputPL mT5 mB5 mW300 pB5 w100" required data-ng-model="lostPasswordUser.securityQuestion" ng-options="pregunta.value as pregunta.text for pregunta in lostPasswordUser.preguntas">
								<option value="" hidden selected>{{'securityQuestion.securityQuestionText' | translate}}</option>
							</select>
						</div>
					</div>
					<div class="pure-u-1 fL pure-control-group">
						<div class="validateMark posR disInl">
							<input type="password" class="inputPL mT5 mB5 mW300 w100" name="securityAnswer" placeholder="{{'securityQuestion.securityAnswerPlaceholder' | translate}}" required ng-minlength="4" data-ng-model="lostPasswordUser.securityAnswer" />
							<div class="errorMark" ng-if="lostPasswordUser.recoverPasswordForm.securityAnswer.$touched && !lostPasswordUser.recoverPasswordForm.securityAnswer.$valid">
							</div>
							<div class="correctMark" ng-if="(lostPasswordUser.recoverPasswordForm.securityAnswer.$touched && lostPasswordUser.recoverPasswordForm.securityAnswer.$valid) || lostPasswordUser.recoverPasswordForm.$valid">
							</div>
						</div>
						<div ng-messages="lostPasswordUser.recoverPasswordForm.securityAnswer.$error" ng-if="lostPasswordUser.recoverPasswordForm.securityAnswer.$touched && !lostPasswordUser.recoverPasswordForm.securityAnswer.$valid" ng-messages-multiple >
							<span class="pure-u-1 cW mT5 mB5 fL" data-ng-message="required">{{'securityQuestion.securityAnswerErrorRequired' | translate}}</span>
							<span class="pure-u-1 cW mT5 mB5 fL" data-ng-message="minlength">{{'securityQuestion.securityAnswerErrorMinLength' | translate}}</span>
						</div>
					</div>
					<div class="pure-u-1 mT30 mB30 tAc">
						<input type="submit" value="Enviar" class="greenBtn" data-ng-disabled="!lostPasswordUser.recoverPasswordForm.$valid">
					</div>
				</form>
			</div>
			<div class="pure-u-1 pure-u-sm-1-2" ng-if="lostPasswordUser.userNotFound">
				<h3 class="cW tAc tSh mT125">{{'forgotPassword.linkNotValid' | translate}}</h3>
			</div>
		</div>
	</section>
</div>