<section class="mB20 shareDownload tAc">
  <div class="content">
    <div class="pure-g share">
      <div class="pure-u-1 pure-u-lg-1-2">
        <a ng-click="confirmPay.sendEventPush('PayDeeplink', 'AppStore', 'PayDeeplink-PaymentConfirmed');" href="https://eat.emmasolutions.net/?entw=fe76d89aaaedad703e3b1a088f0b4c6a&eat_sub3=descarga-app-ios&eat_sub1=Yaap&eat_sub4=web&eat_sub2=yaap-money&utm_campaign=descarga-app-ios&utm_term=Yaap&utm_medium=web&utm_source=yaap-money" target="_blank"><div class="p5 mW200 disInlB tSh" data-ng-include="'images/download-ios.svg'"></div></a>
        <a ng-click="confirmPay.sendEventPush('PayDeeplink', 'GooglePlay', 'PayDeeplink-PaymentConfirmed');" href="https://eat.emmasolutions.net/?entw=76e81908f88a7e01a7bf9fc11f59915d&eat_sub3=descarga-app-android&eat_sub1=Yaap&eat_sub4=web&eat_sub2=yaap-money&utm_campaign=descarga-app-android&utm_term=Yaap&utm_medium=web&utm_source=yaap-money" target="_blank"><div class="p5 mW200 disInlB tSh" data-ng-include="'images/download-android.svg'"></div></a>
      </div>
      <div class="pure-u-1 pure-u-lg-1-2">
        <div class="shareBtn disInlB mL0"><i class="fa fa-facebook cW tSh" aria-hidden="true"></i></div>
        <div class="shareBtn disInlB"><i class="fa fa-twitter cW tSh" aria-hidden="true"></i></div>
        <div class="shareBtn disInlB"><i class="fa fa-instagram cW tSh" aria-hidden="true"></i></div>
      </div>
    </div>
  </div>
</section>